* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.leaflet-pane .leaflet-label {
  color: #ff0000;
}

.leaflet-popup-close-button {
  span {
    color: white;
  }
}

.leaflet-control-zoom {
  position: absolute;
  top: 120px;
}
.leaflet-control-geocoder {
  position: absolute;
}
@media (max-width: 750px) {
  .leaflet-routing-container {
    visibility: hidden;
  }
}
