.profile {
  li {
    list-style: none;
  }
  button:focus {
    outline: none;
  }
  input:focus {
    outline: none;
  }
  min-height: 100vh;
  background-image: url("../../assets/images/bckground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  .profile-garage {
    background-image: url("../../assets/images/backgrounddesktop.png");
    background-repeat: no-repeat;
    background-size: contain;

    background-size: 65vw;
    background-position: bottom;
    width: 65vw;
    height: 25vh;
    .profile-garage-text {
      position: relative;
      display: flex;
      height: 100%;
      .picture-car {
        position: absolute;
        top: 7vh;
        right: 10px;
        height: 10vw;
        width: 22vw;
        background-image: url("../../assets/images/audi-e-tron-gt-476.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
      }
      p,
      h1 {
        position: relative;
        top: 32%;
        left: 25%;

        font-size: clamp(1rem, 3vw, 2.5rem);
      }
    }
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;

    margin: 1vh;
    img {
      height: 4vh;
    }
    a {
      font-size: clamp(1rem, 3vw, 2rem);
    }
  }
  .df-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-profile {
      border: 1px solid #465454;
      width: 65vw;
      margin: 0 auto 2vh auto;
      background-color: rgba(40, 49, 49, 1);
      padding: 8px 8%;
      border-radius: 10px;

      .card-profile-header {
        height: 4vh;
        display: flex;
        justify-content: space-between;

        .card-profile-anuler-button {
          color: white;
        }
        .card-profile-button-title {
          height: 100%;
          display: flex;
          align-items: center;
          gap: 10px;

          h1 {
            color: white;
            margin: auto 0;
            font-size: clamp(1rem, 3vw, 2rem);
          }
          .card-profile-header-button {
            img {
              height: 110%;
            }
          }
        }
        .card-profile-header-icons {
          gap: 3px;
          display: flex;
          justify-content: end;
        }
      }

      .card-profile-line {
        width: 100%;
      }
      .cart-content {
        display: flex;
        flex-direction: column;
        margin-inline: 1rem;

        .cart-content-up {
          height: 11vh;
          display: flex;
          justify-content: space-between;
          img {
            height: 11vh;
            width: 11vh;
          }
          .cart-content-text {
            width: 100%;
            height: 11vh;
            display: flex;
            flex-direction: column;
            gap: 0;

            li {
              text-align: end;
              width: 100%;
              font-size: clamp(0.9rem, 2.5vw, 1.5rem);
            }
          }
        }
        .cart-content-down {
          height: 12vh;
          .cart-content-text {
            display: flex;
            flex-direction: column;
            gap: 0;
            li {
              font-size: clamp(0.9rem, 2.5vw, 1.5rem);
            }
          }
        }
      }
    }
  }
}

.add-car-section-form {
  margin-block-start: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
  border: 1px solid #10fffe;
  border-radius: 8px;
  margin: 130px 20px 100px 20px;
  padding-inline: 10px;
  h2 {
    text-align: center;
  }
  .proposition {
    color: white;
    margin-left: 16px;
    height: 18.5px;
  }
}

.modify-delete-car {
  display: flex;
  font-size: clamp(0.7 rem, 2.5vw, 1.5rem);

  .modify-delete-car-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: auto 0;
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      button {
        text-align: start;
        color: white;
        font-size: clamp(0.8rem, 2.5vw, 1.9rem);
      }
    }
  }
  .delete-car-modal {
    width: 100%;
    h1 {
      text-align: center;
      font-size: clamp(0.9rem, 2vw, 2rem);
      margin-block: 10px;
      color: red;
      padding: 4px;
    }
    .delete-car-modal-content {
      width: 100%;
      display: flex;

      .delete-car-modal-content-text {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 25vw;

        li {
          font-size: clamp(0.8rem, 1.5vw, 1.5em);
        }
      }
      .buttons-content {
        margin-top: 15px;
        display: flex;
        gap: 100px;

        button {
          color: black;
          padding: 16px;
          display: flex;
          height: 58px;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          background: #10fffe;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
          cursor: pointer;
          transition: transform 0.3s ease;
          font-size: clamp(0.8rem, 2vw, 2em);

          &:hover {
            transform: scale(1.05);
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1500px) {
  .profile {
    .profile-garage {
      height: 24vh;
      .profile-garage-text {
        .picture-car {
          top: 9vh;
        }
        p,
        h1 {
          top: 35%;

          font-size: clamp(1rem, 3vw, 2rem);
        }
      }
    }

    .df-row {
      .card-profile {
        .card-profile-header {
          .card-profile-button-title {
            h1 {
              font-size: clamp(1rem, 3vw, 1.5rem);
            }
          }
        }

        .cart-content {
          .cart-content-up {
            .cart-content-text {
              li {
                font-size: clamp(0.9rem, 2.5vw, 1.2rem);
              }
            }
          }
          .cart-content-down {
            .cart-content-text {
              li {
                font-size: clamp(0.9rem, 2.5vw, 1.2rem);
              }
            }
          }
        }
      }
    }
  }

  .modify-delete-car {
    font-size: clamp(0.7 rem, 2.5vw, 1.5rem);

    .modify-delete-car-content {
      div {
        button {
          font-size: clamp(0.8rem, 2.5vw, 1.2rem);
        }
      }
    }
    .delete-car-modal {
      h1 {
        font-size: clamp(0.9rem, 2vw, 1.5rem);
      }
      .delete-car-modal-content {
        .delete-car-modal-content-text {
          li {
            font-size: clamp(0.8rem, 1.5vw, 1.5em);
          }
        }
        .buttons-content {
          button {
            height: 48px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .profile {
    .profile-garage {
      background-size: 75vw;

      width: 75vw;
      .profile-garage-text {
        .picture-car {
          top: 12vh;
        }
        p,
        h1 {
          top: 45%;
        }
      }
    }
    .df-row {
      .card-profile {
        width: 75vw;
        padding: 8px 8%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .profile {
    .profile-garage {
      background-size: 75vw;

      width: 75vw;
      .profile-garage-text {
        .picture-car {
          top: 15vh;
        }
        p,
        h1 {
          top: 55%;
        }
      }
    }
    .df-row {
      .card-profile {
        width: 75vw;
        padding: 8px 8%;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .profile {
    .profile-garage {
      background-size: 85vw;

      width: 85vw;
    }
    .df-row {
      .card-profile {
        width: 85vw;
        padding: 8px 5%;
      }
    }
    .delete-car-modal {
      .delete-car-modal-content {
        .delete-car-modal-content-text {
          width: 35vw;
        }
        .buttons-content {
          gap: 50px;

          button {
            height: 38px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 510px) {
  .profile {
    .profile-garage {
      height: 18vh;
      .profile-garage-text {
        .picture-car {
          top: 13vh;
        }
      }
    }

    .delete-car-modal {
      .delete-car-modal-content {
        .delete-car-modal-content-text {
          width: 50vw;
        }
        .buttons-content {
          gap: 10px;

          button {
            height: 30px;
            padding: 8px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 410px) {
  .profile {
    .profile-garage {
      height: 15vh;
      .profile-garage-text {
        .picture-car {
          top: 11vh;
        }
      }
    }
    .df-row {
      .card-profile {
        .cart-content {
          .cart-content-up {
            height: 14vh;

            img {
              height: 12vh;
              width: 12vh;
            }
            .cart-content-text {
              height: 13vh;

              gap: 10px;

              li {
                font-size: 0.8rem;
              }
            }
          }
          .cart-content-down {
            .cart-content-text {
              gap: 10px;
              li {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
    .delete-car-modal {
      .delete-car-modal-content {
        .delete-car-modal-content-text {
          width: 50vw;
          li {
            font-size: 0.7rem;
          }
        }
        .buttons-content {
          gap: 10px;

          button {
            height: 30px;
            padding: 8px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .profile {
    .profile-garage {
      height: 15vh;
      .profile-garage-text {
        .picture-car {
          top: 11vh;
        }
      }
    }
    .df-row {
      .card-profile {
        .cart-content {
          .cart-content-up {
            height: 14vh;

            img {
              height: 12vh;
              width: 12vh;
            }
            .cart-content-text {
              height: 13vh;

              gap: 0px;

              li {
                font-size: 0.7rem;
              }
            }
          }
          .cart-content-down {
            .cart-content-text {
              gap: 10px;
              li {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
    .delete-car-modal {
      .delete-car-modal-content {
        .delete-car-modal-content-text {
          width: 50vw;
          li {
            font-size: 0.7rem;
          }
        }
        .buttons-content {
          gap: 10px;

          button {
            height: 30px;
            padding: 8px;
          }
        }
      }
    }
  }
}
